* { 
  box-sizing: border-box; 
}

/*отступы*/
@page { 
  margin: 12mm; 
}


/*черный текст с белым фоном*/
html, body { 
  background: #ffffff !important; 
  color: #000000 !important; 
}

/*скрываю блоки*/
.header, 
.nav, 
.sidebar, 
.footer, 
.hero__media { 
  display: none !important; 
}

/*отступы*/
.container { 
  max-width: none; 
  padding: 0; 
}

/* флекс-контейнеры в блочные*/
.layout { 
  display: block; 
}

.content { 
  display: block; 
}


/* тонкии рамки*/
.card { 
  border: 1px solid #000; 
  padding: 10px; 
  margin: 10px 0; 
}

/*заголовки больше*/
.card h2 { 
  margin: 0 0 6px; 
  font-size: 14pt; 
}

.card p, 
td { 
  font-size: 11pt; 
}

/*стили для таблиц*/
table { 
  border-collapse: collapse; 
  width: 100%; 
}

td { 
  border: 1px solid #000; 
  padding: 4px; 
}

/*убираю ссылки*/
a[href^="http"]::after { 
  content: " (" attr(href) ")"; 
  font-size: 9pt; 
}